
section {
    margin-left: 10px;
    margin-right: 10px;
}

.mitte {
    margin-left: 10px;
    margin-right: 10px;
}

.mitte h2 {
    margin-left: 10px;
}

.columns.is-vcentered {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.klein {
  font-size: 12px;
}


@media all and (min-width: 600px) {
    .columns {
        margin-right: 200px;
    }

    section {
        margin-left: 63.2px;
        margin-right: 63.2px;
    }

    .mitte {
        margin-left: 63.2px;
        margin-right: 63.2px;
    }

    .mitte h2 {
        margin-left: 12px;
    }

    .rechts {
        bgcolor: "#e2eded;
    }

    .hero {
        margin-left: 0px;
        margin-right: 0px;
    }

    .hero-body {
        margin-left: 63.2px;
        margin-right: 63.2px;
    }

}
